<%= form_for([@post, @post.linecomments.build],
  :html => {:class => "new_linecomment", :id => "new_linecomment" + @line,
  "data-type" => "json" }, :remote => true) do |f| %>

  <div class="control-group">
    <%= f.text_area :body, :placeholder => "leave a inline comment...",
      :rows => 5, :class => "span12"%>
    <%= f.hidden_field :commenter,
      { :value => user_signed_in? ? current_user.email : "Anonymous" } %>
    <%= f.hidden_field :line, { :value => @line } %>
    <br />
    <%= f.submit "Save", :class => "btn btn-mini pull-right" %>
    <a href="javascript:void(0)" class="btn btn-mini closeform pull-right"
      data-line="<%= @line %>">Cancel</a>
  </div>
<% end %>
