<legend>Comments</legend>
<% @post.all_comments.each do |comment| %>
  <blockquote>
    <%= comment.body %>
    <% if comment.commenter.present? %>
      <small><%= comment.commenter %></small>
    <% else %>
      <small>Anonymous</small>
    <% end %>
  </blockquote>
<% end %>

<%= form_for([@post, @post.comments.build],
  :class => "form-horizontal") do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_field :commenter, 
        :placeholder => user_signed_in? ? current_user.email : "Anonymous" %>
    </div>
    <div class="controls">
      <%= f.text_area :body, :placeholder => "leave a comment...",
        :rows => 4 %>
    </div>
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
