<%= form_for @post, :class => "form-horizontal" do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="filenames" data-filenames='
    <%= Post.file_extensions.to_json.html_safe %>'>
  </div>

  <div class="control-group">
    <div class="row">
      <div class="span3">
        <label class="control-label" for="inputTitle">
          <%= f.label :title %>
        </label>
        <div class="controls">
          <%= f.text_field :title, :id => "inputTitle",
            :class => "check4contenttype" %>
        </div>
      </div>
      <div class="span3">
        <label class="control-label" for="inputAuthor">
          <%= f.label :author %>
        </label>
        <div class="controls">
          <%= f.text_field :author, :id => "inputAuthor",
            :placeholder => user_signed_in? ? current_user.email :
            "Anonymous" %>
        </div>
      </div>
      <div class="span3">
        <label class="control-label" for="inputContentType">
          <%= f.label :content_type %>
        </label>
        <div class="controls">
          <%= f.select(:content_type, Post.file_extensions.values.uniq,
            :id => "inputContentType")%>
        </div>
      </div>
      <div class="span3">
        <label class="control-label" for="inputContentType">
          <label>
            Tags
          </label>
        </label>
        <div class="controls">
          <%= f.text_field :input_tags, :id => "inputTags",
            "data-pre" => @post.tags.map(&:attributes).to_json %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <label class="control-label" for="inputContent">
          <%= f.label "Enter your Content here" %>
        </label>
        <div class="controls">
          <%= f.text_area :content, {:class => "input-block-level",
            :rows => 10, :id => "inputContent"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span9">
        <label class="control-label" for="inputContent">
          <%= f.label "And/Or Upload a File (Max-Size: " +
            "#{Post.MaxUploadSize / 1024}kb)" %>
        </label>
        <div class="controls">
          <%= f.file_field :upload_file, { :id => "inputUploadFile",
           :class => "input-xxlarge" } %>
        </div>
      </div>
      <div class="span3">
        <%= f.submit :class => "btn pull-right" %>
      </div>
    </div>
  </div>
<% end %>
