<%= form_for @post, :class => "form-horizontal" do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="inputTitle">
      <%= f.label :title %>
    </label>
    <div class="controls">
      <%= f.text_field :title, :id => "inputTitle" %>
    </div>

    <label class="control-label" for="inputContent">
      <%= f.label :content %>
    </label>
    <div class="controls">
      <%= f.text_area :content, {:class => "input-xxlarge", :rows => 15,
        :id => "inputContent"} %>
    </div>
    <label class="control-label" for="inputAuthor">
      <%= f.label :author %>
    </label>
    <div class="controls">
      <%= f.text_field :author, :id => "inputAuthor",
        :placeholder => "Anonymous" %>
    </div>
    <label class="control-label" for="inputContentType">
      <%= f.label :content_type %>
    </label>
    <div class="controls">
       <%= f.select(:content_type, Post.content_types,
         :id => "inputContentType")%>
    </div>

    <h2>Or Upload a sourcefile<h2>
    <small>(Max-Size: 100kb)</small>
    <label class="control-label" for="inputUploadFile">
      <%= f.label :upload_file %>
    </label>
    <div class="controls">
      <%= f.file_field :upload_file,  :id => "inputUploadFile"%>
    </div>

  </div>
  <%= f.submit :class => "btn" %>
<% end %>
