<% if post.title.present? %>
  <h3><%= link_to post.title, post %></h3>
<% else %>
  <span>&nbsp;</span>
<% end %>
<pre><code><%= truncate(post.content,
                        :length => 800,
                        :omission => "\n\n...") %>
</code></pre>
<% if post.author.present? %>
  <small class="author">- <%= post.author %></small>
<% end %>
<% if post.all_comments.present? %>
  <span class="comments_count">
    <%= post.all_comments.size %>
    <i class="icon-comment"></i>
  </span>
<% end %>
<div class="pull-right">
  <div class="btn-group">
    <%= link_to post, :class => "btn btn-small" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to post_path(post, :format => :text),
      :class => "btn btn-small"  do %>
      <i class="icon-download"></i>
    <% end%>
    <%= link_to edit_post_path(post), :class => "btn btn-small"  do %>
      <i class="icon-edit"></i>
      <% end %>
    <%= link_to post, method: :delete,
     data: { confirm: 'Are you sure?' }, :class => "btn btn-small" do %>
      <i class="icon-trash"></i>
    <% end %>
  </div>
</div>
<br />
<br />
