<% if post.title.present? %>
  <h3><%= post.title %></h3>
<% else %>
  <span>&nbsp;</span>
<% end %>
<pre><code><%= post.content %></code></pre>
<div class="pull-right">
  <div class="btn-group">
    <%= link_to post, :class => "btn btn-small" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to post_path(post, :format => :text),
      :class => "btn btn-small"  do %>
      <i class="icon-download"></i>
    <% end%>
    <%= link_to edit_post_path(post), :class => "btn btn-small"  do %>
      <i class="icon-edit"></i>
      <% end %>
    <%= link_to post, method: :delete,
     data: { confirm: 'Are you sure?' }, :class => "btn btn-small" do %>
      <i class="icon-trash"></i>
    <% end %>
  </div>
</div>
<br />
<br />
