<% @post = post %>
<div class="preview_area">
<% if @post.title.present? %>
  <legend><%= @post.title %></legend>
<% else %>
  <span>&nbsp;</span>
<% end %>

<%= preview_content(@post).html_safe %>

<% if @post.author.present? %>
  <small class="author">- <%= @post.author %></small>
<% else %>
  <small class="author">- Anonymous</small>
<% end %>
<small class="content_type"> (<%= @post.content_type %>)</small>

<%= render 'options' %>

<% if @post.tags.present? %>
  <% @post.tags.each do |tag| %>
    <div class="tags pull-right"><%= tag.name %></div>
  <% end %>
<% end %>

<br />
<br />
</div>
