<% @post = post %>
<div class="preview_area">
<% if @post.title.present? %>
  <legend><%= link_to @post.title, post_path(@post) %></legend>
<% else %>
  <span>&nbsp;</span>
<% end %>

<div class="post-content" data-href="<%= post_path(@post)%>">
  <%= preview_content(@post).html_safe %>
</div>

<% if @post.author.present? %>
  <small class="author">- <%= @post.author %></small>
<% else %>
  <small class="author">- Anonymous</small>
<% end %>
<small class="content_type"> (<%= @post.content_type %>)</small>
<small class="date"> - <%= @post.updated_at.strftime('%a, %d %b %Y %H:%M:%S') %>
</small>

<%= render 'posts/options' %>

<br />
<br />
</div>
