<div class="row">
  <div class="span9">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="span6">
          <div><%= post.title %></div>
          <pre><%= post.content %></pre>
        </div>
        <div class="span3">
          <div class="btn-group">
            <%= link_to post, :class => "btn btn-small" do %>
              <i class="icon-eye-open"></i>
            <% end %>
            <%= link_to edit_post_path(post), :class => "btn btn-small"  do %>
              <i class="icon-edit"></i>
              <% end %>
            <%= link_to post, method: :delete,
             data: { confirm: 'Are you sure?' }, :class => "btn btn-small" do %>
              <i class="icon-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
