<div class="row">
  <h3><%= @post.title %></h3>
  <%=
    options = { options: {encoding: 'utf-8'} }
    if Pygments::Lexer.find(@post.content_type)
      options.merge!(lexer: @post.content_type.downcase)
    end
    Pygments.highlight(@post.content, options).html_safe %>
  <% if @post.author.present? %>
    <p class="author">- <%= @post.author %></p>
  <% end %>
 
  <%= render 'options' %>

  <input id="post_url" class="input-xlarge uneditable-input" type="text"
    value="<%= post_url(@post) %>"></input>

  <br/><br/>
  <%= render 'like_dislike' %>
  <%= render 'comments/comment' %>
</div>
