<div class="row">
  <h3><%= @post.title %></h3>

  <div class="highlight">
    <%= colorized_content(@post).html_safe %>
  </div>

  <% if @post.author.present? %>
    <p class="author">- <%= @post.author %></p>
  <% end %>

  <%= render 'options' %>

  <% if @post.tags.present? %>
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, {
        :controller => :posts,
        :action => :search,
        :tag_id => tag.id
      }, :class => "tags pull-right" %>
    <% end %>
  <% end %>

  <input id="post_url" class="input-xlarge uneditable-input" type="text"
    value="<%= post_url(@post) %>"></input>

  <br/><br/>
  <%= render 'like_dislike' %>
  <%= render 'comments/comment' %>
</div>
